@model PassionProjectFlowerShop.Models.BouquetDto


@{
    ViewBag.Title = "View";
}

<a href="/Bouquet/List">Back to List</a>

<h2>@Model.BouquetName</h2>
<div>Price: @Model.BouquetPrice</div>
<div>Information: @Model.BouquetDescription</div>


