@model PassionProjectFlowerShop.Models.FlowerDto


@{
    ViewBag.Title = "View";
}

<a href="/Flower/List">Back to List</a>

<h2>@Model.FlowerName</h2>
<div>Color: @Model.FlowerColor</div>
<div>Price: @Model.FlowerPrice</div>


