@model IEnumerable<PassionProjectFlowerShop.Models.FlowerDto>

@{
    ViewBag.Title = "List";
}

<h2>Flower List</h2>
@foreach (var flower in Model)
{
    <h2><a href="/Flower/Details/@flower.FlowerId">@flower.FlowerName</a></h2>
    <div>Price: @flower.FlowerPrice</div>
    <div>Color: @flower.FlowerColor</div>




}
