﻿@model IEnumerable<PassionProjectFlowerShop.Models.BouquetDto>

@{
    ViewBag.Title = "Create";
}

<h2>Create Flower</h2>
<form action="/Flower/Create" method="POST">
    <div>
        <label>Name: </label> <input type="text" name="FlowerName" value="FlowerName" />
    </div>
    <div>
        <label>Color: </label> <input type="text" name="FlowerColor" value="FlowerColor" />
    </div>
    <div>
        <label>Price:</label> <input type="number" name="FlowerPrice" value="FlowerPrice" />
    </div>
    <div>
        <label>Bouquet:</label>
        <select name="BouquetID">
            @foreach (var bouquet in Model)
            {
                <option value="@bouquet.BouquetId">@bouquet.BouquetName</option>

            }
        </select>
    </div>
    <div>
        <input type="submit" value="Add Flower" />

    </div>
</form>

